body{
background-color: #bbb;
background-image: linear-gradient(335deg, #999 23px, transparent 23px),
linear-gradient(155deg, #FF712C 23px, transparent 23px),
linear-gradient(335deg, #999 23px, transparent 23px),
linear-gradient(155deg, #FF712C 23px, transparent 23px);
background-size: 58px 58px;	
background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}
.htmlh{
background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
color:#fff;
padding:40px 40px 40px 40px;
margin:0px;
font-weight:bold;
font-size:80px;
font-family:'Racing Sans One', cursive;
text-shadow: 0px 1px 0px #CCC, 0px 2px 0px #C9C9C9, 0px 3px 0px #BBB, 0px 4px 0px #B9B9B9, 0px 5px 0px #AAA, 0px 6px 1px rgba(0, 0, 0, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.25), 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 20px rgba(0, 0, 0, 0.15);
border-bottom: 10px solid rgba(255,255,255,.4);
}
.img-mod{
	width:100%;
}
.modal-dialog {
	width:75%;
}
.tmb-link a{
	text-align:center; 
	text-decoration:none;
	color:#fff;
}
.tmb-link a:hover{
	text-align:center; 
	text-decoration:none;
	color:#666;
}
.tmb-link a:active{
	text-align:center; 
	text-decoration:none;
	color:#999;
}
.tmb-link a:visited{
	text-align:center; 
	text-decoration:none;
	color:#fff;
}
.thumbnail{
background-color:#222;
}
.modal-content{
background-color:#ED8C2B;
color:#000;
}
.close{
opacity:.8;
}